@page
@model Slobodianiuk.University.Example.Web.Pages.FlowerListModel
@{
    ViewData["Title"] = "Flower List";
}

<div class="container px-4 py-5" id="custom-cards">
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        @{
            foreach (var el in Model.Flowers)
            {
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Name: @el.Name</h5>
                            <p class="card-text">Price: @el.price $</p>
                        </div>
                        <a asp-page="/Order" asp-route-id="@el.Id" class="text-left">
                            <button type="button" class="btn btn-outline-danger">Order</button>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>