@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="center-text">Мисюки ставте шейсят і я побіг🙏🙏🙏</div>

<style>


    .center-text {
        text-align: center;
        font-size: 24px;
    }
</style>