@page
@model Slobodianiuk.University.Example.Web.Pages.OrderModel
@{
    ViewData["Title"] = "Order";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.js"></script>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <label style=" color: red;">Press button for submit you order!</label>
                </div>

                <button type="submit" class="btn btn-primary form-control">Submit</button>
            </form>
        </div>
    </div>
</div>